* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background: linear-gradient(2deg, #0d4da5, #868587, #090909);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}


/*MOBILE FIRST*/
body{
  background-color:  rgb(13, 144, 159);
}

.slider {
  position: relative;
  height: 100%;
  

}

.slider-content{
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50px;
  translate: (-50%,-50%);
 
}
.fa-brands {
  color: white;
}
p{
  color: white;
}
.navbar {
  background-color: transparent;
  
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}


.nav-burger {
  display: flex;
  cursor: pointer;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 30px;
  
}

.nav-burger .open {
  background: white;
  height: 3px;
  width: 100%;
  margin: 4px 0;
  transition: 0.3s;
}
.nav {
  list-style-type: none;
  display: none; 
  flex-direction: column;
  margin: 0;
  padding: 0;
  top: 60px; 
  left: 0;
  width: 100%;
  background: black;
  position: absolute;
  z-index: 999; 
}
.nav.active {
  display: flex;
}


.nav a {
  display: block;
  text-decoration: none;
  color: white;
  line-height: 1.5;
  padding: 10px;
}

/*
.navbar {
 background-color: transparent;
  display: flex;
  position: fixed;
  top: 0;
  padding: 10px 15px;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
   }


.navbar ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar li {
  margin: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
}
.nav{
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.nav a {
  text-decoration: none;
  color: white;
  line-height: 1.5;
  padding: 10px;
}
.nav a:hover{
  background: #444;
}*/

main{
  flex: 1;
  margin-bottom: 50px;
}




.titre {
  color: white;
  text-align: center;
  font-size: 35px;
  margin-top: 20px;
}

.image {
  margin-bottom: 10px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: 30px;
  width: 200px;
  height: 200px;

}

.photo {
  text-align: center;
}

.card {
  height: 150px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.45);
  margin-top: 10px;
  

}

p{
  padding: 10px 0px;
}

 #expérience{
  height: 50%;
  
}
footer{
  text-align: center;
  background-color: black;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}



/*reseau*/


  
  



/*TABETTE*/

@media (min-width:900px) {
  body {
    background-color: blue;
  }
.slider{
  position: relative;
  
}

  .slider-content {
    font-size: 40px;
    position:absolute;
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .titre {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
  }
  
}

/*PC*/


@media (min-width: 1200px) {
  body {
    background-color: blueviolet;
  }

  .slider {
    height: 100%;
    position: relative;
  }

  .slider-content {
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
  }

  .image {
    width: 300px;
    height: 300px;
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0;
  }
  .navbar{
    cursor: pointer;
    width: 100%;
 
  }
  .nav {
    display: flex;
    position: static; 
    flex-direction: row;
    background: transparent; 
    top: auto; 
    left: auto; 
    width: auto; 
    z-index: auto; 
  }
  .titre {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-top: 20px;
  }
  
  .colonne{
  display: flex;
  flex-direction: column;


  }
  .card{
    width: 100%;
  }

  #droite{
    width: 50%;
    align-self: flex-start;
  }
  #gauche{
    width: 50%;
    align-self: flex-end;
  }
  .nav-burger{
    display: none;
  }
  #expérience{
    text-align: center;
  }
}
